[Desktop Entry]
Type=Application
Categories=Network;Proxy;
Exec=/usr/bin/env python "/home/jeremy/repo/goagent-3.0.5/local/goagent-gtk.py"
Icon=/home/jeremy/git/goagent-3.0.5/local/goagent-logo.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=GoAgent GTK
Comment=GoAgent GTK Launcher
