### Ranger facilities
# Compatible with ranger 1.4.2 through 1.6.*
#
# Automatically change the directory in bash after closing ranger
#
# This is a bash function for .bashrc to automatically change the directory to
# the last visited one after ranger quits.
# To undo the effect of this function, you can type "cd -" to return to the
# original directory. Ranger facility -- Auto cd to last dir
function ranger-cd {
    tempfile='/tmp/chosendir'
    /usr/bin/env ranger --choosedir="$tempfile" "${@:-$(pwd)}"
    test -f "$tempfile" &&
    if [ "$(cat -- "$tempfile")" != "$(echo -n `pwd`)" ]; then
        cd -- "$(cat "$tempfile")"
    fi
    rm -f -- "$tempfile"
}
alias d="ranger-cd"

# Set HTTP Proxy
# I use goagent in my local machine as proxy
#export http_proxy="127.0.0.1:8087"
#export RSYNC_PROXY="127.0.0.1:8087"
proxy_goagent="127.0.0.1:8087"
function switch_proxy {
    if [ "$http_proxy" = "" ]; then
        echo "Switch proxy to $proxy_goagent"
        export http_proxy=$proxy_goagent
        export https_proxy=$proxy_goagent
    else
        echo "Turn proxy off"
        export http_proxy=""
        export https_proxy=""
    fi
}
alias p="switch_proxy"

# Scan all the text contents under the directory
function scantext {
    for i in `ls $1`; do
        if [ -d "$i" ]; then
            pushd "$i" >/dev/null
            scandir
            popd >/dev/null
        elif [ -f "$i" ]; then
            file "$i" | grep "text" >/dev/null && cat "$i"
        fi
    done
}

# Show stastics message of top used commands
function topcmds {
    history 1 | awk '{a[$2]++}END{for (i in a){print a[i] " " i}}' | sort -rn | head
}

# Change directory into next dirty git repository
function gitnextdirty {
    update_repo_status.sh
    d=`tag -f Dirty | head -n 1`
    test -z "$d" && exit 1 || cd "$d"
    git status -s
}
